{{>header}}
<center><h1>Gestion de cursos</h1></center>
<ul>
    <li>Cursos en ROJO su estado es: Cerrado</li>
    <li>Cursos en VERDE su estado es: Disponible</li>
    <li>Seleccione el curso para desplegar los usuarios inscritos</li>
</ul>
{{{gestionarCurso}}}
{{>footer}}