{{>header}}
<center>
    <h1>BIENVENIDO!</h1><br>
    <img src="https://magentaig.com/wp-content/uploads/2018/08/estudio-de-mercado.jpg" class="img-fluid"
    alt="Responsive image"><br>
    <h1>EN CONSTRUCCIÓN!</h1><br>
</center>
{{>footer}}